@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
}

body {
  background-color: #444444;
}

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
}

.blur {
  backdrop-filter: blur(12px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.45);
}

.centerBtnMenu {
  width: 176px;
  bottom: 154px;
  left: calc(50% - 88px);
}
